profiles
{
  // standard profile runs by default
  standard
  {
    // increase --driver-memory if necessary
    params.sparkOpts = '--master local[*] --driver-memory 12G'
  }
  // add docker profile to run with docker
  docker
  {
    docker.enabled = true
  }
  // use yarn profile to run on e.g. AWS EMR
  yarn
  {
    // --driver-memory, --driver-cores, --executor-memory, --executor-cores, --num-executors, etc.
    params.sparkOpts = '--master yarn-client'
  }
}
